/* ============================================================================
Tooltipo
============================================================================ */

/**
 * Establish styles for tooltips
 */

$ns: "c-tooltip";

.#{$ns} {
    &__icon {
        margin-left: 4px;
        width: 16px;
    }
}
