/* ============================================================================
Catgory Banner
============================================================================ */

/**
 * Establish styles for category banner.
 */

$ns: "c-cat-banner";

.#{$ns} {
    height: auto;

    &::after {
        content: none;
    }

    &__inner {
        background-color: $green-aqua;
        background-size: cover;
        color: $white;
        height: 100%;
        padding-bottom: 20px;
        padding-top: 35px;

        @include media-breakpoint-up(md) {
            padding-bottom: 90px;
            padding-top: 75px;
        }
    }
    &__container {
        @include media-breakpoint-up(md) {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
    &__container-fluid {
        padding-left: 20px;
        padding-right: 20px;
        @include media-breakpoint-up(md) {
            padding-left: 60px;
            padding-right: 0px;
            margin: 0 auto;
            width: 100%;
        }
    }
    &__row {
        margin-left: 0;
        margin-right: 0;
    }
    &__heading {
        font-size: 22px;
        line-height: 1;
        margin-bottom: 18px;
        text-transform: none;
        width: 100%;

        @include media-breakpoint-up(md) {
            font-size: 60px;
            letter-spacing: -3.4px;
        }
    }
    &__content {
        font-size: 17px;
        letter-spacing: .2px;
        line-height: 1.5;

        @include media-breakpoint-up(md) {
            max-width: 50%;
        }
    }
    &__inner.d-flex {
        .c-cat-banner__content {
            @include media-breakpoint-up(md) {
                max-width: 95%;
            }
        }
        .text-wrapper {
            @include media-breakpoint-up(md) {
                padding-bottom: 90px;
                padding-top: 75px;
            }
        }
        .image-wrapper {
            background-size: cover; 
        }
        .text-wrapper,
        .image-wrapper {
            @include media-breakpoint-up(md) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        @include media-breakpoint-up(md) {
            padding-top: 0;
            padding-bottom: 0;
            max-height: 280px;
            overflow: hidden;
        }
    }
}
