@import '../globals/variables.scss';

.slider {
    padding:0px 0px;
    @include ipad {
        padding: 0px 0px;
    }
}

.carousel-container {
    width: calc(100% - 120px);
    margin-left: 120px !important;
    right: 60px;
    position: relative;
    @include ipad {
        width: calc(100% - 80px);
        margin-left: 80px !important;
        right: 40px;
    }
    @include mobile {
        width: calc(100% - 40px);
        margin-left: 40px !important;
        right: 20px;
    }
}

.carousel-container.onrails {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.view-all {
    text-decoration: none !important;
    font-family: HelveticaNeue-Bold,Helvetica,sans-serif !important;
    color: black !important;
    float: right;
    margin-right: 0px;
    text-decoration: underline !important;
    grid-column-start: 2;
    font-size: 14px;
    letter-spacing: 1px !important;
    margin-left: auto;
    @include ipad {
        margin-right: 0px;
    }
    @include mobile {
        right: 20px !important;
    }
}

.heading-container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.slider-headline {
    line-height: 44px;
    font-size: 24px;
    position: relative;
    font-family: HelveticaNeue-Bold,Helvetica,sans-serif;
    @include mobile {
        font-size: 36px;
        line-height: 44px;
        margin-left: 0px;
    }
}

.category_slide_name {
    font-family: "HelveticaNeue-Bold", Helvetica, sans-serif !important;
    text-decoration: none !important;
    color: black !important;
    letter-spacing: .5px;
    margin-top: 20px;
    @include mobile {
        margin-top: 10px;
    }
}

.slider .swiper-slide {
    text-align: center;
    width: auto !important;
}
.swiper-button-next,
.swiper-button-prev{
    visibility: hidden;
}
.slider {
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

.swiper-container {
    padding-bottom: 20px;
}

.swiper-scrollbar {
    background: #d6d6d6;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    border-radius: 2px;
    height: 5px;
    width: 90%;
    bottom: 0;
    left: 50%;
}

.category_slide_img {
    width: unset;
    height: 150px;
    background: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 150px;
    @include mobile {
        width: 100px !important;
        height: 100px !important;
    }
}
.category_slide_img.hover {
    display:none;
}
.category_slide_name {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    width: 150px;
    @include mobile {
        font-size: 13px !important;
        letter-spacing: .5px !important;
        line-height: 18px !important;
        width: 110px;
    }
}

.recs_slide .swiper-slide {
    height: 400px;
    padding-bottom: 80px !important;
    border-radius: 20px;
    text-align: center;
}

.text-container {
    position: absolute;
    bottom: 15px;
}
.rec_prod_img {
    max-width: 200px;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 60px;
    padding-bottom: 45px;
}
.rec_prod_name {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 70%;
    margin-bottom: 5px;
    letter-spacing: .5px;
}
.rec_prod_price {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
}
.rec_prod_price span {
    font-size: 14px;
}
.yotpo-bottomline {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.category_slide_img_container {
    position: relative;
    height: 166px;
    background: #F2F2F2;
    width: 150px;
    border-radius: 16px;
    @include mobile {
        height: 125px;
        width: 110px !important;
        background: #F2F2F2;
    }
}

.category_slide_img_container .category_slide_img {
    bottom: -15px;
    position: relative;
    @include mobile {
        width: unset !important;
        height: 105px !important;
        background: none !important;
        position: relative;
        bottom: -20px !important;
        right: 5px;
    }
}

.slider .swiper-slide {
    @include mobile {
        width: 110px !important;
    }
}
