/* ============================================================================
OrderGroove Pricing
============================================================================ */

/**
 * Establish styles for custom OrderGroove pricing fields.
 */

 $ns: "c-ordergroove-pricing";

 .#{$ns} {
    display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: flex-end;
    font-family: $font-family-primary;
    max-width: calc(40% + 10px);
    line-height: normal;
    pointer-events: none;
    position: absolute;
        bottom: 22px;
        right: 0;
        top: -15px;
        z-index: 1;
    text-align: right;
    width: 225px;

    @include media-breakpoint-up(lg) {
        max-width: calc(40% + 20px);
        right: -36px;
    }
    @include media-breakpoint-up(xxl) {
        right: -20px;
    }

    &__ad-hoc,
    &__subscription {
        display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-end;
        min-height: 42px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    &--impulse-upsell {
        align-content: flex-start;
        bottom: 0;
        top: 0;

        .#{$ns} {
            &__subscription {
                display: none;
            }
        }

        &--is-expanded {
            bottom: auto;
            top: 77px;

            .#{$ns} {
                &__ad-hoc {
                    margin-bottom: 2px;
                    min-height: 65px;
                }
                &__subscription {
                    display: block;
                }
            }
        }
        &--is-submitted {
            display: none;
        }
    }
    &--ad-hoc {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);

        .#{$ns} {
            &__ad-hoc {
                padding-right: 15px;

                @media only screen and (orientation: landscape) {
                    padding-right: 5px;
                }
                @include media-breakpoint-up(lg) {
                    padding-right: 5px;
                }
            }
        }
    }
}
