/* ============================================================================
Footer Scope
============================================================================ */

/**
 * Establish a scope and styles HTML elements within the footer
 */

$ns: s-global-footer;

// !important used to overwrite bootstrap

.#{$ns} {
    background-color: $primary;

    h3 {
        text-transform: lowercase;

        @include media-breakpoint-up(sm) {
            line-height: 0px;
        }
    }

    li {
        margin-bottom: 0;
    }

    ul {
        @include pxl-list-flat();
        margin-bottom: 0;
    }

    &__navigation {
        @include media-breakpoint-up(md) {
            margin-left: -30px;
            margin-right: -30px;
        }

        li {
            a {
                color: $white;
                display: inline-block;
                font-family: $font-family-primary-regular;
                font-weight: 500;
                line-height: 30px;
                text-decoration: none;
                text-transform: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .st-global-footer__logo {
            display: inline-block;
        }
    }

    &__section {
        border-top: 1px solid $grey12;
        border-bottom: 1px solid $grey12;

        @include media-breakpoint-down(md) {
            // switch to margin so border doesn't span beyond content
            margin-left: $grid-gutter-width / 2;
            margin-right: $grid-gutter-width / 2;
            padding-left: 0;
            padding-right: 0;
        }

        @include media-breakpoint-up(lg) {
            border-top: 0;
            border-bottom: 0;
        }

        + .#{$ns}__section {
            border-top: 0;
        }

        h3 {
            margin-bottom: 0;

            @include media-breakpoint-up(lg) {
                margin-bottom: 12px;
            }

            a {
                display: flex;
                    align-items: center;
                color: white !important;
                font-size: 14px !important;
                font-weight: 500;
                letter-spacing: 1px;
                line-height: 15px !important;
                padding-top: 17px;
                padding-bottom: 17px;
                text-transform: uppercase;

                @include media-breakpoint-up(lg) {
                    border-top: 0;
                    display: block;
                    font-weight: 700;
                    letter-spacing: normalu;
                    line-height: 24px !important;
                    padding-top: 0;
                    padding-bottom: 0;
                }

                &::after {
                    margin-left: auto;
                }
            }
        }

        &.collapsible,
        &.collapsible-md {
            h3 .title {
                position: relative;

                &::after {
                    @include background-svg($svg-plus-white);

                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    content: "";
                    font-size: 35px;
                    height: 27px;
                    line-height: 1;
                    right: 0;
                    text-align: center;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 27px;
                }
            }

            &.active {
                h3 .title {
                    &::after {
                        @include background-svg($svg-minus-white);

                        background-size: 20px auto;
                        margin-top: 0;
                    }
                }
            }
        }

        &.collapsible-md {
            h3 .title::after {
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }

        ul {
            margin-bottom: 19px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }
        }

        li {
            @include media-breakpoint-up(lg) {
                margin-bottom: 6px;
            }

            a {
                font-size: 14px;
                line-height: 30px;

                @include media-breakpoint-up(lg) {
                    font-size: 16px;
                }
            }
        }
    }

    &__utility {
        color: white;
        font-size: 14px;

        ul {
            @include pxl-list-inline();
        }

        a {
            // Important tags for styles added directly to page
            background-color: transparent !important;
            border: none !important;
            display: inline-block;
            color: white !important;
            font-size: 14px !important;
            font-weight: 500;
            line-height: 30px;
            padding: 0 !important;
            text-align: left;
            text-decoration: none;
            text-transform: capitalize;
            width: 100%;

            &:hover {
                text-decoration: underline;
            }

            @include media-breakpoint-up(lg) {
                width: auto;
            }

            &:not(:last-child) {
                @include media-breakpoint-up(lg) {
                    margin-right: 20px;
                }
            }
        }
    }

    &__utility-links,
    &__social {
        @include media-breakpoint-up(lg) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    &__utility-links {
        font-size:13px;
        margin-top: 40px;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }

        .legal-links {
            column-count: 2;
            text-align: left;

            @include media-breakpoint-up(lg) {
                column-count: unset;
            }
        }
    }

    &__social {
        display: flex;
            justify-content: center;
        line-height: 1;
        margin-top: 41px;

        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
            margin-top: 0;
        }

        a {
            display: block;
            height: 30px;

            svg {
                height: 30px;
                width: 30px;
            }
        }
    }
    &__locale {
        margin-top: 30px;
        margin-bottom: 30px;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
            margin-bottom: 0;
            padding-right: 0;
            text-align: right;
        }

        select {
            @include media-breakpoint-up(lg) {
                max-width: 53px;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .#{$ns} {
        padding-bottom:150px;
    }
}
