node_modules/
**/static/**
**/bin/**
**/coverage/**
**/doc/**
lib/**
webpack.config.js
magnet/app_magnet/*
bm_dwremigrate/*
int_googletagmanager/*
int_handlerframework/*
int_marketing_cloud/*
int_computop/*
int_ordergroove/*
int_gtm/*
storefront-reference-architecture/cartridges/modules/*
storefront-reference-architecture/**
scripts/kind-ci/*
bm_tools/*
bc_library/*
int_customfeeds/*
plugin_pagedesigner_sfra/*
module_pagedesigner/*
bm_pagedesigner/*
bm_customfeeds/*
module_pagedesigner/*
plugin_pagedesigner_sfra/*
plugin_klaviyo/*
applePay.js
int_yotpo_sfra_merge/*
int_yotpo_sfra/*
bm_yotpo/*
bm_changeup/*
int_changeup_sfra/*
int_kount_sfra/*
int_kount/*
bc_job_components/*
app_kind_snacks/cartridge/controllers/Checkout.js
app_kind_snacks/cartridge/scripts/hooks/facebook.js
