@import "~kind/sfra/components/menu";

.menucallout {
    width: 100%;
}

.menuwraps, .menuwrapsabout {
    .shopstores {
        margin-top: 0 !important;
    }
}

.menu-callout {
    margin-left: -$setting-gutter;
    margin-right: -$setting-gutter;

    @include media-breakpoint-up(md) {
        margin-bottom: 16px;
        margin-left: -$setting-gutter2;
        margin-right: -$setting-gutter2;
    }

    @include media-breakpoint-up(lg) {
        margin-left: 0;
        margin-right: 0;
    }
}

.menu-toggleable-left.navbar-toggleable-sm.is-in {
    @include media-breakpoint-down(md) {
        left: calc((100% - 100vw) / 2);
    }
}

.st-primary-nav.is-in .st-primary-nav__item {
    padding-left: 0;
}
