/* ============================================================================
PDP Description Scope
============================================================================ */

/**
 * Establishes a scope and styles HTML elements for the pdp long description
 */

$ns: s-product-description;

.#{$ns} {
    h2 {
        @extend .st-product-description-info__heading;
    }
}
/* test streamline for new headers */
.v2 {
    .collapsible-sm {
        border-bottom: 1px solid black;
        // padding: 10px 0;
        &.is-active {
            padding-bottom: 20px;
            > .title::after {
                background-image: url(../images/icon-minus-v2.png);
                top: 18px;
            }
        }
        &.checkmark > .title {
            @include media-breakpoint-up(md) {
                margin-bottom: 0 0 20px;
            }
        }
        > .title {
            font-family: "HelveticaNeue-Bold", Helvetica, sans-serif;
            text-align: left;
            font-size: 30px;
            &::after {
                right: 0;
                content: "";
                background: url(../images/icon-plus-v2.png) no-repeat center;
                background-size: contain;
                width: 20px;
                height: 20px;
                top: 14px;
            }
            @include media-breakpoint-up(md) {
                line-height: 26px;
                font-size: 30px;
                margin: 0 0 34px;
            }
        }
        @include media-breakpoint-up(md) {
            border-bottom: none;
            padding-top: 0;
        }
    }
    .c-product-witb__slide__content__heading {
        font-family: "HelveticaNeue", Helvetica, sans-serif;
    }
    .c-product-witb__slide__content__heading {
        line-height: 28px;
        text-align: left;
    }
}
.fine-print {
    color: $mid-grey;
}
