/* ============================================================================
   Flavor Banner
   ============================================================================ */

/**
 * Provides styles for flavor banner components
 */

$ns: c-flavor-banner;

.#{$ns} {
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;

    // Create a stronger scope
    & &__container {
        padding-bottom: 25px;
        padding-top: 25px;

        @include media-breakpoint-up(md) {
            padding-top: 72px;
            padding-bottom: 72px;
        }
    }
    &__row {
        justify-content: center;
        position: relative;
        text-align: center;

        @include media-breakpoint-up(md) {
            justify-content: left;
            padding-left: 25px;
            padding-right: 25px;
            text-align: left;
        }
    }

    // Flavor Banner Wrapper
    &__content {
        display: block;
        display: flex;
            flex-direction: column;
            justify-content: center;
        flex: 0 0 100%;
        margin-bottom: 56px;
        max-width: 340px;
        padding-left: 15px;
        padding-right: 15px;

        @include media-breakpoint-up(md) {
            @include make-col(5);

            margin-bottom: 0;
            min-height: 450px;
        }
        @include media-breakpoint-up(lg) {
            flex-basis: 30%;
            max-width: 30%;
            min-height: 500px;
        }
    }

    &__heading {
        font-size: 54px;
        letter-spacing: -1px;
        line-height: 1;
        margin-bottom: 16px;
        text-transform: lowercase;
    }

    // Flavor Banner Body
    &__body {
        font-size: 17px;
        margin-bottom: 34px;
    }

    // Flavor Banner Links {
    &__links {
        text-transform: uppercase
    }

    &__image {
        width: 100%;

        &__wrapper {
            @include make-col(12);

            @include media-breakpoint-up(md) {
                height: 552px;
                position: absolute;
                    right: -175px;
                    top: calc(50% + 10px);
                padding-left: 15px;
                padding-right: 15px;
                transform: translateY(-50%);
                width: 710px;
            }
            @include media-breakpoint-up(lg) {
                height: 700px;
                right: -200px;
                width: 900px;
            }
            @include media-breakpoint-up(xl) {
                right: -275px;
            }
        }
    }

    &--right {
        .#{$ns} {
            &__row {
                @include media-breakpoint-up(md) {
                    justify-content: flex-end;
                }
            }

            &__image {
                &__wrapper {
                    @include media-breakpoint-up(md) {
                        left: -175px;
                        right: auto;
                    }
                    @include media-breakpoint-up(lg) {
                        left: -200px;
                    }
                    @include media-breakpoint-up(xl) {
                        left: -275px;
                    }
                }
            }
        }
    }
}
