.homepage_dual_tout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-auto-rows: 1fr;
    text-align: center;
    margin: auto;
    grid-gap: 30px;
    letter-spacing: 1px;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    @media screen and (max-width: 500px) {
        grid-gap: 20px;
    }
    & img {
        width: 100%;
    }
    h3 {
        color: white;
        letter-spacing: unset !important;
        font-family: $helvetica;
        font-size: 38px;
        line-height: 40px;
        font-weight: 700;
        text-decoration: none;
    }
    .text-container {
        background: black;
        text-align: center;
        padding: 60px;
        height: 300px;
        @media screen and (max-width: 1024px) {
            padding: 30px;
        }
    }
    .copy {
        font-family: $georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
        &:hover {
            text-decoration: none;
        }
    }
    .left:hover .left_h3 {
        text-decoration: underline;
    }
    .right:hover .right_h3 {
        text-decoration: underline;
    }
}