/* ============================================================================
Main Block with Sidebar
============================================================================ */

/**
 * Establish styles for the main content area adjacent to a sidebar and non-component elements within
 */

$ns: st-main-w-sidebar;

.#{$ns} {
    flex: 0 0 100%;
    max-width: 100%;

    @include media-breakpoint-up(md) {
        flex-basis: 55%;
        max-width: 55%;
    }

    &--flipped {
        @include media-breakpoint-up(md) {
            flex-basis: 38%;
            margin-top: 0;
            max-width: 40.5%;
        }
        @include media-breakpoint-up(lg) {
            flex-basis: 38%;
            max-width: 38%;
        }
    }
}
