/* ============================================================================
Rows
============================================================================ */

/**
 * Establish custom style sets for row elements
 */

$ns: st-row;

.#{$ns} {
    &--padded {
        margin-left: -33px;
        margin-right: -33px;
        padding: 18px;
    }
}
