/* ============================================================================
Site Header
============================================================================ */

/**
 * Establish styles for the site header and non-component elements within
 */

$ns: st-header;

.#{$ns} {

    @include media-breakpoint-down(md) {
        padding-bottom: 44px;
        position: relative;
        z-index: 51;
    }

    &__navbar {
        &--logo {
            display: block;
            margin-left: 0;
            margin-right: 32px;
            transform: translateX(-50%);
            position: absolute;
                left: 50%;
            text-align: right;
            width: auto;

            &__img {
                width: 100%;
            }

            @include media-breakpoint-up(lg) {
                float: left;
                position: static;
                transform: none;
            }

            &__link {
                padding-bottom: 9px;
                width: 56px;

                @include media-breakpoint-up(lg) {
                    width: 65px;
                }
            }
        }
        &--utilities {
            color: $white;
            margin: 0 0px;

            @include media-breakpoint-up(lg) {
                flex: 0 0 306px;
                max-width: 306px;
            }

            &__icon {
                &__img {
                    width: 20px;
                }
            }
        }
        & &__toggler {
            background-color: transparent;
            min-width: 0;

            &:active {
                background-color: inherit !important;
            }
        }

        &__search-toggle {
            border: none;
            cursor: pointer;
            line-height: 1;
            min-height: 0;
            min-width: 0;
            outline: none;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            width: auto;

            &:active,
            &:focus,
            &:hover {
                background-color: transparent !important; // Important to override styles that would require to specific of a selector
                border: none !important; // Important to override styles that would require to specific of a selector
                outline: none;
            }
        }
    }
    &__inner {
        display: flex;
        min-height: 54px;
        z-index: 10;
        @include media-breakpoint-down(md) {
            justify-content: space-between;
        }
    }
}
