/* ============================================================================
    Billboard Grid
   ============================================================================ */

/**
 * Styles the KIND theme for the Billboard Grid component
 */

$ns: th-kind-billboard-grid;
$component: c-billboard-grid;
$scope: s-graphical-asset;

.#{$ns} {

    // Billboard Grid Component
    &.#{$component} {

        .#{$component} {
            &__item {
                &__content {
                    // Billboard Grid Heading
                    &__heading {
                        font-family: $font-family-primary;
                    }

                    // Billboard Grid Body
                    &__body {
                        font-family: $font-family-secondary;
                    }

                    // Billboard Grid Links
                    &__link {
                        &__title {
                            font-family: $font-family-primary;
                            &:hover {
                                color: $san-marino;
                            }
                        }
                        &__description {
                            font-family: $font-family-secondary;
                        }
                    }
                    &__links {
                        font-family: $font-family-primary;
                    }
                }
            }
        }
    }

    // Graphical Asset Scope
    &.#{$scope} {
        .#{$scope} {
            &__links {
                a {
                    font-family: $font-family-primary;
                }
            }
        }
    }

}
