/* ============================================================================
Checkout Shipping
============================================================================ */

/**
 * Establish styles for checkout page's shipping block
 */

$ns: st-checkout-shipping;

.#{$ns} {
    &__multi-box {
        padding: 0;

        &__checkbox + &__label {
            margin-bottom: 6px;
            margin-top: 0;

            @include media-breakpoint-up(md) {
                margin-bottom: 12px;
            }
        }
    }
}
